$bgcolor: rgb(173, 173, 173);

#notfound {
    position: relative;
    height: 100vh;
    background-color: $bgcolor;

    .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 520px;
        width: 100%;
        line-height: 1.4;
        text-align: center;

        .notfound-404 {
            position: relative;
            height: 200px;
            margin: 0px auto 20px;
            z-index: -1;

            @media only screen and (max-width: 480px) {
                height: 148px;
                margin: 0px auto 10px;
            }

            h1 {
                font-family: "Montserrat", sans-serif;
                font-size: 236px;
                font-weight: 200;
                margin: 0px;
                color: #211b19;
                text-transform: uppercase;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);

                @media only screen and (max-width: 768px) {
                    font-size: 148px;
                }
                @media only screen and (max-width: 480px) {
                    font-size: 86px;
                }
            }

            h2 {
                font-family: "Montserrat", sans-serif;
                font-size: 28px;
                font-weight: 400;
                text-transform: uppercase;
                color: #211b19;
                background: $bgcolor;
                border-radius: 0.6rem;
                padding: 10px 5px;
                margin: auto;
                display: inline-block;
                position: absolute;
                bottom: 0px;
                left: 0;
                right: 0;
                @media only screen and (max-width: 480px) {
                    font-size: 16px;
                }
            }
        }
    }
}
