name: Test & Build & Deploy

on:
    push:
        branches: [main]

jobs:
    # cypress-run:
    #     runs-on: ubuntu-latest
    #     steps:
    #         - name: copy env file
    #           run: echo "${{secrets.ENVIRONMENT_VARIABLES }}" > .env
    #         - name: Checkout
    #           uses: actions/checkout@v2
    #         - name: Cypress run
    #           uses: cypress-io/github-action@v2
    #           with:
    #               build: yarn run build
    #               start: yarn run start

    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Deploy app
              uses: appleboy/ssh-action@master
              with:
                  host: ${{secrets.SSH_HOST}}
                  key: ${{secrets.SSH_KEY}}
                  username: ${{secrets.SSH_USERNAME}}

                  script: |
                      cd /home/tojgli
                      cd contibus
                      git pull
                      sudo docker-compose up --build -d
